@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

a {
  color: #f3f3f3;
  text-decoration: none;
}

.cont_header {
  display: flex;
  flex-wrap: nowrap;
  background-color: #222222;
  height: 15vh;
  justify-content: space-between;
}

.cont_logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 3vw;
}

.img_banner {
  height: max-content;
  padding-right: 2vw;
}

.cont_nav_bar_horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  padding-right: 3vw;
}

.nav_bar_element {
  margin-left: 2vw;
}

.cont_banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 65vh;
}

.card1 {
  background-image: url("../img/delivery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  width: 35vw;
  align-self: center;
  border-radius: 5px;
}

.card2 {
  background-color: #ffffff;
  height: 55vh;
  width: 35vw;
  align-self: center;
}

.cont_footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #222222;
  height: 20vh;
  justify-content: space-between;
}

.cont_nav_bar_vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.text_card1 {
  font-size: 24px;
  font-weight: 700;
  color: #fc200c;
  padding-left: 1vw;
}

span {
  color: #f3f3f3;
}

.text_card2 {
  font-size: 24px;
  font-weight: 700;
  color: #fc200c;
  text-align: center;
}

.cont_lista {
  font-weight: 700;
  font-size: 20px;
}

p {
  text-indent: 3vw;
}

.cont_bloque_pizzas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 6vh;
}

.img_card2 {
  height: max-content;
  align-self: center;
}
